{% extends 'events/base.html' %} {% block content %}
<center>
  <h1>My event</h1>
  {{me}}
  <br />
  {% for event in events %}
  <h3>eventos: {{event}}</h3>
  <h3>eventos: {{event.venue}}</h3>
  <h3>eventos date : {{even.event_date}}</h3>

  {% if user.is_authenticated %} {% if user == event.manager %}
  <div class="card-footer text-muted">
    <a href="{% url 'update-event' event.id %}" class="btn btn-success"
      >Update Event</a
    >
    <a href="{% url 'delete-event' event.id %}" class="btn btn-danger"
      >Delete Event</a
    >
  </div>
  {% endif %} {% endif %} {% endfor %}
</center>
{% endblock %}
